<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<dl>
    <% @recipes.each do |recipe| %>
   <dt id="<%=dom_id(recipe)%>">
    <%= recipe.name %>
    <span class="pull-right">
    <%= link_to 'Show', recipe %>
    <%= link_to 'Edit', edit_recipe_path(recipe) %>
    <%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
   </dt>
   <dd>
   <%= recipe.description %>
   </dd>
   <% end %>
</dl>

<%= link_to 'New Recipe', new_recipe_path, class: "btn btn-default" %>
