<p id="notice"><%= notice %></p>

<h1>Listing Ingredients</h1>

<ul>
<% @ingredients.each do |ingredient| %>
     <li id="<%= dom_id(ingredient) %>">
      <%= ingredient.name %>
      <%= link_to 'Show', ingredient %>
      <%= link_to 'Edit', edit_ingredient_path(ingredient) %>
      <%= link_to 'Destroy', ingredient, method: :delete, data: { confirm: 'Are you sure?' } %>
      </li>
<% end %>
</ul>
<br>

<%= link_to 'New Ingredient', new_ingredient_path %>
